.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin: 5px;
    padding: .5rem;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(134, 96, 240, 0.521);
    width: 25vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container:hover{
    background-color: rgb(160, 123, 255);
}

.closeButton{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top:1rem;
    right: 1rem;
    background-color: rgba(240, 61, 61, 0.945);
    height: 1rem;
    width: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: .6rem;
    text-transform: capitalize;
    border: 0px;
    border-radius: 4px;
}

.closeButton:hover{
    background-color: brown;
}